<div class="space"></div>
<div class="title">
  <h1>Французкие бульдоги и Грифоны</h1>
</div>
<div class="about-company box">
  <p><%= Preference.about.html_safe %></p>
</div>

<% content_for :right_sidebar do %>
<div class="menu">
  <div class="submenu descendants">
    <span class="title">Щенки на продажу</span>
      <ul class="list">
        <%= render partial: "shared/dogs_list", locals: { dogs: @puppies.alive, reverse: true } %>
      </ul>
  </div>
</div>
<% end %>