<ul>
  <li>
    <input type="checkbox" id="dogs">
    <label for="dogs" class="title">Собаки</label>
    <ul class="list">
      <%= render partial: "shared/dogs_list", locals: { dogs: dogs } unless dogs.blank? %>
    </ul>
  </li>
  <li>
    <input type="checkbox" id="puppies">
    <label for="puppies" class="title">Щенки</label>
    <ul class="list">
      <%= render partial: "shared/dogs_list", locals: { dogs: puppies } unless puppies.blank? %>
    </ul>
  </li>
  <li>
    <span class="title"><a href="/">Контакты</a></span>
  </li>
</ul>