<ul>
  <li>
    <span class="title">Собаки</span>
    <ul class="list">
      <%= render partial: "shared/dogs_list", locals: { dogs: dogs } unless dogs.blank? %>
    </ul>
  </li>
  <li>
    <span class="title">Щенки</span>
    <ul class="list">
      <%= render partial: "shared/dogs_list", locals: { dogs: puppies } unless puppies.blank? %>
    </ul>
  </li>
  <li>
    <span class="title"><a href="/">Контакты</a></span>
  </li>
</ul>