<ul>
  <li class="submenu">
    <input type="checkbox" id="females">
    <label for="females" class="title">Суки</label>
    <ul class="list">
      <%= render partial: "shared/dogs_list", locals: { dogs: dogs.females } unless dogs.blank? %>
    </ul>
  </li>
  <li class="submenu">
    <input type="checkbox" id="males">
    <label for="males" class="title">Кобели</label>
    <ul class="list">
      <%= render partial: "shared/dogs_list", locals: { dogs: dogs.males } unless dogs.blank? %>
    </ul>
  </li>
  <li class="submenu">
    <input type="checkbox" id="puppies">
    <label for="puppies" class="title">Щенки</label>
    <ul class="list">
      <%= render partial: "shared/dogs_list", locals: { dogs: puppies.alive } unless puppies.alive.blank? %>
    </ul>
  </li>
  <li class="submenu">
    <input type="checkbox" id="graduate-puppies">
    <label for="graduate-puppies" class="title">Выпускники</label>
    <ul class="list">
      <%= render partial: "shared/dogs_list", locals: { dogs: puppies.archived } unless puppies.archived.blank? %>
    </ul>
  </li>
  <li class="submenu">
    <span class="title"><a href="/gallery">Галлерея</a></span>
  </li>
  <li class="submenu">
    <span class="title"><a href="/">Контакты</a></span>
  </li>
</ul>