@import "variables", "mixins";

$avatar_dimensions: 60px;

.avatar {
  i {
    display: inline-block;
    width: $avatar_dimensions;
    height: $avatar_dimensions;
    border: 6px solid;
    border-radius: 40px;
    background: white no-repeat center;
    margin-left: 10px;
    &.stub {
      background-image: asset_url("avatar.png");
    }
  }
  &.reverse {
    i {
      margin-right: 10px;
      margin-left: 0;
    }
  }
  .male {
    border-color: $male-color;
    i {

    }
  }

  .female {
    border-color: $female-color;
    i {

    }
  }
}