@import "variables", "mixins";

$avatar_dimensions: 60px;

.avatar {
  display: inline-block;
  width: $avatar_dimensions;
  height: $avatar_dimensions;
  border: 4px solid;
  border-radius: 40px;
  background: white no-repeat -6px -3px;
  &.stub {
    background-image: asset_url("avatar");
  }
  span {
    line-height: $avatar_dimensions;
    padding-left: 4.5em;
  }
}

.male {
  border-color: $male-color;
  i {

  }
}

.female {
  border-color: $female-color;
  i {

  }
}