@import url('https://fonts.googleapis.com/css?family=Alice|Montserrat:400,400i,700&subset=cyrillic');
@import "variables", "mixins";

@media only screen and (min-width: 320px) and (max-width: 767px) {
  body {
    header {
      .logo {
        margin: 45px 0 41px 30px;
      }
      .contacts {
        position: relative;
        margin: 0 30px 3em 30px;
      }
    }
    .content {
      flex-flow: column;
      .sidebar, .main {
        margin: 0 30px;
        width: auto;
      }
      .sidebar {
        &.right {
          margin: 0 30px;
        }
        .menu {
          input#burger:checked {
            & ~ .burger-menu {
              label {
                .line {
                  &.top {
                    display: none;
                  }
                  &.mid-top {
                    transform: rotate(45deg);
                    top: 6px;
                  }
                  &.mid-bottom {
                    transform: rotate(-45deg);
                    top: 4px;
                  }
                  &.bottom {
                    display: none;
                  }
                }
              }
              & ~ ul {
                display: block;
                z-index: 1;
                position: fixed;
              }
            }
            & ~ ul {
              background-color: #5a83aa;
              position: absolute;
              top: 0;
              right: 100px;
              left: 0;
              bottom: 0;
              padding: 60px;
            }
          }
          .burger-menu {
            display: block;
            label {
              padding: 10px 0;
              display: block;
              position: absolute;
              right: 30px;
              top: 30px;
              cursor: pointer;
              .line {
                background: white;
                height: 2px;
                width: 40px;
                display: block;
                position: relative;
                &.mid-top {
                  top: 6px;
                }
                &.mid-bottom {
                  top: 4px;
                }
                &.bottom {
                  top: 10px;
                }
              }
            }
            & ~ ul {
              display: none;
            }
          }
          .descendants {
            text-align: left;
          }
        }
      }
      .main {
        flex: none;
        .about-company {
          p {
            column-count: 1;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    min-width: auto;
    header {
      .logo {
        margin: 45px 0 41px 30px;
      }
      .contacts {
        margin: 0 30px;
        top: 33px;
        right: 0;
        display: inline-block;
        position: absolute;
      }
    }
    .content {
      flex-flow: column;
      .sidebar, .main {
        margin: 0 30px;
        width: auto;
      }
      .sidebar {
        &.right {
          margin: 0 30px;
        }
        .menu {
          .burger-menu {
            display: none;
          }
          .descendants {
            text-align: left;
          }
        }
      }
      .main {
        flex: none;
        .about-company {
          p {
            column-count: 1;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px)  {
  body {
    min-width: 1024px;
    header {
      .logo {
        margin: 45px 0 41px 60px;
      }
      .contacts {
        margin: 0 60px;
        top: 33px;
        right: 0;
        display: inline-block;
        position: absolute;
      }
    }
    header, .content, footer {
      max-width: 1330px;
      margin: 0 auto;
    }
    .content {
      .sidebar {
        margin: 0 30px 0 60px;
        &.right {
          margin: 0 60px 0 30px;
        }
        .menu {
          .burger-menu {
            display: none;
          }
          .descendants {
            text-align: right;
            .list {
              margin-bottom: 1.5em;
            }
          }
        }
      }
      .main {
        flex: auto;
        display: flex;
        flex-direction: column;
        .space {
          flex: 1;
        }
        .about-company {
          p {
            column-count: 1;
          }
        }
      }
    }
  }
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000;
  &[target="_blank"] {
    &:before {
      display: inline-block;
      width: 18px;
      height: 18px;
      background-image: asset_url('new_window.svg');
      content: "";
      margin-right: 4px;
      background-repeat: no-repeat;
      top: 3px;
      position: relative;
    }
  }
}

.button {
  padding: .5em;
  background-color: white;
  border-radius: 6px;
}

html {
  height: 100%;
  body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;

    .logo {
      background: asset_url('logo.png') no-repeat center center;
      display: block;

      a {
        width: 100%;
        height: 100%;
      }
    }

    .phone, .address {
      @include alice;
      color: $menu-color;
      text-shadow: $shadow;
    }

    header {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-grow: 0;
      flex-shrink: 0;
      width: 100%;

      .logo {
        width: 201px;
        height: 131px;
        flex-shrink: 0;
      }

      .phone {
        font-size: 3em;
      }

      .address {
        font-size: 2em;
      }
    }

    .content {
      display: flex;
      flex-grow: 1;
      flex-shrink: 0;
      width: 100%;

      .menu {
        input {
          display: none;

          & ~ .list {
            max-height: 0;
            overflow: hidden;
            //animation: menuOpen 2s ease-out 0ms 1 reverse forwards running;
          }

          &:checked ~ .list {
            animation: menuOpen 1s ease-out 0ms 1 normal forwards running;
          }
        }

        .title {
          @include mont;
          font-size: 1.2em;
          font-weight: bold;
          text-transform: uppercase;
          text-shadow: $shadow;
          padding-bottom: .5em;
          display: block;
          color: $menu-color;
          cursor: pointer;

          a {
            color: inherit;
          }
        }

        .submenu {
          &:not(:last-child) {
            margin-bottom: 1.5em;
          }

          .item {
            @include mont;
            font-weight: normal;
            padding-bottom: .5em;

            a {
              span {
                &.avatar {
                  color: $menu-color;
                  text-shadow: $shadow;
                  display: inline-flex;
                  align-items: center;
                  max-width: 16em;
                }
              }
            }
          }
        }
      }

      .main {
        h1, h2 {
          color: $menu-color;
          text-shadow: $shadow;
        }

        h1 {
          @include alice;
          font-size: 5em;
          margin-bottom: .1em;
        }

        h2, p, a {
          @include mont;
        }

        h2 {
          font-size: 1.3em;
          font-style: italic;
          text-transform: uppercase;
          padding-bottom: 4px;
          display: inline-block;
        }

        p {
          font-size: 1em;
          line-height: 1.7em;
        }

        .title {
          margin-bottom: 1em;
          word-break: break-word;

          h2 {
            border-bottom: 3px solid white;
          }

          .gender {
            svg {
              height: 90px;
              position: relative;
              top: 13px;
            }
          }
        }

        .box {
          margin-bottom: 2em;
        }

        .about-company {
          color: white;
          text-shadow: #4A4A4A 1px 1px 3px;
          font-size: 1.3em;
          h2 {
            font-style: normal;
            margin-bottom: 1em;
          }

          p {
            max-width: 38em;
          }

          .genealogy {
            position: absolute;
            right: 1em;
            top: 14px;
          }
        }

        .gallery {
          margin-top: 2em;

          .pictures {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-flow: wrap;

            a {
              &:not(:last-child) {
                margin-right: 0.4em;
              }

              img {
                border: 4px solid rgba(255, 255, 255, 0.8);
                border-radius: 6px;
              }
            }
          }
        }

        .dogs-list {
          .item {
            float: left;
            text-align: center;

            .avatar {
              flex-flow: column;
              margin-right: 0.6em;

              i {
                margin: 0 0 10px;
              }

              p {
                color: $menu-color;
                text-shadow: $shadow;
              }
            }
          }
        }
      }
    }
    footer {
      flex-shrink: 0;
      height: 10em;
      text-align: center;
      border-top: 1px solid white;
      padding: 1em 3em 0;
      margin-top: 3em;

      .logo {
        margin-top: 1em;
        height: 60px;
        background-size: contain;

      }
    }
  }
}

@keyframes menuOpen {
  from {
    max-height: 0;
  }
  to {
    max-height: 100vh;
  }
}