@import url('https://fonts.googleapis.com/css?family=Alice|Montserrat:400,400i,700&subset=cyrillic');
@import "variables", "mixins";

@media (min-width: 320px) and (max-width: 767px) {
  body {
    overflow: hidden;
    min-width: auto;
    .content {
      flex-flow: column;
      .sidebar, .main {
        margin: 0 30px;
        width: auto;
      }
      .sidebar {
        &.right {
          margin: 0 30px;
        }
        .menu {
          input#burger:checked {
            & ~ .burger-menu {
              label {
                .line {
                  &.top {
                    display: none;
                  }
                  &.mid-top {
                    transform: rotate(45deg);
                    top: 6px;
                  }
                  &.mid-bottom {
                    transform: rotate(-45deg);
                    top: 4px;
                  }
                  &.bottom {
                    display: none;
                  }
                }
              }
            }
            & ~ ul {
              background-color: #5a83aa;
              position: absolute;
              top: 0;
              width: 100%;
              right: 0;
              left: 0;
              bottom: 0;
            }
          }
          .burger-menu {
            display: block;
            label {
              padding: 10px 0;
              display: block;
              position: absolute;
              right: 30px;
              top: 30px;
              cursor: pointer;
              .line {
                background: white;
                height: 2px;
                width: 40px;
                display: block;
                position: relative;
                &.mid-top {
                  top: 6px;
                }
                &.mid-bottom {
                  top: 4px;
                }
                &.bottom {
                  top: 10px;
                }
              }
            }
          }
          .descendants {
            text-align: left;
          }
        }
      }
      .main {
        flex: none;
        .about-company {
          p {
            column-count: 1;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px)  {
  body {
    min-width: auto;
    .content {
      flex-flow: column;
      .sidebar, .main {
        margin: 0 30px;
        width: auto;
      }
      .sidebar {
        &.right {
          margin: 0 30px;
        }
        .menu {
          .descendants {
            text-align: left;
          }
        }
      }
      .main {
        flex: none;
        .about-company {
          p {
            column-count: 2;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px)  {
  body {
    min-width: 1148px;
    .content {
      .sidebar {
        margin: 0 30px 0 60px;
        width: 250px;
        &.right {
          margin: 0 60px 0 30px;
        }
        .menu {
          .descendants {
            text-align: right;
          }
        }
      }
      .main {
        flex: auto;
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 240px);
        .space {
          flex: 1;
        }
        .about-company {
          p {
            column-count: 2;
          }
        }
      }
    }
  }
}

a {
  text-decoration: none;
}

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .logo {
    background: asset_url('logo.png') no-repeat center center;
    width: 201px;
    height: 131px;
    margin: 45px 0 41px 60px;
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }
  .content {
    display: flex;
    .sidebar {
      flex: none;
      .menu {
        .burger-menu {
          display: none;
        }
        input {
          display: none;
          & ~ .list {
            max-height: 0;
            overflow: hidden;
            //animation: menuOpen 2s ease-out 0ms 1 reverse forwards running;
          }
          &:checked ~ .list {
            animation: menuOpen 2s ease-out 0ms 1 normal forwards running;
          }
        }
        .title {
          @include mont;
          font-size: 1.2em;
          font-weight: bold;
          text-transform: uppercase;
          text-shadow: $shadow;
          padding-bottom: .5em;
          display: block;
          color: $menu-color;
          cursor: pointer;
          a {
            color: inherit;
          }
        }
        .list {
          .item {
            @include mont;
            font-weight: normal;
            padding-bottom: .3em;
            a {
              display: inline-block;
              span {
                color: $menu-color;
                text-shadow: $shadow;
                display: inline-flex;
                height: 68px;
                align-items: center;
              }
            }
          }
          &:last-child {
            margin-bottom: 1.5em;
          }
        }
      }
    }
    .main {
      h1, h2 {
        color: $menu-color;
        text-shadow: $shadow;
      }
      h1 {
        @include alice;
        font-size: 5em;
        margin-bottom: .1em;
      }
      h2, p {
        @include mont;
      }
      h2 {
        font-size: 1.3em;
        font-style: italic;
        text-transform: uppercase;
        margin-bottom: .5em;
      }
      p {
        font-size: 1em;
      }
      .title {
        margin-bottom: 1em;
      }
      .box {
        padding: 1em;
        margin-bottom: 2em;
      }
      .about-company {
        background-color: rgba(255, 255, 255, .5);
        border-radius: 6px;
        max-width: 700px;
        h2 {
          font-style: normal;
        }
      }
      .dogs-list {
        .item {
          float: left;
          text-align: center;
          .avatar {
            margin-right: 10px;
            i {
              margin: 0;
            }
            p {
              color: $menu-color;
              text-shadow: $shadow;
            }
          }
        }
      }
    }
  }
}

@keyframes menuOpen {
  from {
    max-height: 0;
  }
  to {
    max-height: 100vh;
  }
}