@media only screen
and (min-device-width: 320px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 2)
and (-webkit-min-device-pixel-ratio: 3)
{
  body {

    header {

      .logo {
        display: none;
        //margin: 45px 0 41px 30px;
      }

      .contacts {
        display: none;
        //position: relative;
        //margin: 0 30px 3em 30px;
        //text-align: right;
      }

      .language__switcher {
        top: 15px;
        margin: 0 30px;
      }

    }
    .content {
      flex-flow: column;
      .sidebar, .main {
        margin: 0 30px;
        width: auto;
      }
      .sidebar {
        &.right {
          margin: 0 30px;
          .descendants {
            display: none;
          }
        }
        .menu {
          input#burger:checked {
            & ~ .burger-menu {
              label {
                .line {
                  &.top {
                    display: none;
                  }
                  &.mid-top {
                    transform: rotate(45deg);
                    top: 6px;
                  }
                  &.mid-bottom {
                    transform: rotate(-45deg);
                    top: 4px;
                  }
                  &.bottom {
                    display: none;
                  }
                }
              }
              & ~ ul {
                display: block;
                z-index: 1;
                position: fixed;
                overflow: scroll;
              }
            }
            & ~ ul {
              background-color: #5a83aa;
              position: absolute;
              top: 0;
              right: 95px;
              left: 0;
              bottom: 0;
              padding: 20px;
            }
            .submenu {
              .descendants {
                display: block;
              }
            }
          }
          .burger-menu {
            display: block;
            label {
              padding: 10px 0;
              display: block;
              position: absolute;
              right: 30px;
              top: 10px;
              cursor: pointer;
              .line {
                background: white;
                height: 2px;
                width: 40px;
                display: block;
                position: relative;
                &.mid-top {
                  top: 6px;
                }
                &.mid-bottom {
                  top: 4px;
                }
                &.bottom {
                  top: 10px;
                }
              }
            }
            & ~ ul {
              display: none;
            }
          }
          .descendants {
            text-align: left;
          }
        }
      }
      .main {
        flex: none;

        h1 {
          font-size: 3em;
        }

        .title {
          margin-top: 5em;
        }

        .about-company {

          p {
            column-count: 1;
          }

        }

      }
    }
  }
}